{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">Статусы</h1>
  <a class="btn btn-primary mb-3" href="{% url 'statuses_create' %}">Создать статус</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for status in statuses %}
      <tr>
        <td>{{ status.name }}</td>
        <td>{{ status.created_at|date:'d.m.Y H:i' }}</td>
        <td>
          <a class="btn btn-sm btn-outline-primary" href="{% url 'statuses_update' status.pk %}">Изменить</a>
          <a class="btn btn-sm btn-outline-danger" href="{% url 'statuses_delete' status.pk %}">Удалить</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
