{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1 class="mb-4">Пользователи</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Имя пользователя</th>
        <th>Полное имя</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.get_full_name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <a class="btn btn-sm btn-outline-primary" href="{% url 'users_update' user.pk %}">Изменить</a>
          <a class="btn btn-sm btn-outline-danger" href="{% url 'users_delete' user.pk %}">Удалить</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
